FORMAT: 1A
HOST: https://panel-id.pdk.io/api

# PDK Panel API

The PDK Panel API provides for programmatic access to CRUD operations on entities and a realtime event stream from the PDK Access Control system.

The API conforms to many of the tenets of the REST style architecture and fully embraces the HTTP standard to fulfill many of these.

* Stateless
* Cacheable
* A URL identifies a Resource
* Operations conveyed implicitly through HTTP verbs

This drives certain uniform architectural attributes of the API.

> Where the documentation refers to `panel-id` this must be substituted with the actual serial number of your cloud node.
> If the cloud node serial number was 10702AG, then `panel-id` would be replaced with `panel-10702AG`.

# Authentication

Authenticating to this stateless API is handled by including an HTTP Authentication header in each request.
Before making any requests to the panel's API andpoint you will need a Bearer token.
This token represents your application's permission to access the API as delegated by the user.

For instructions on retrieving a token for communicating with a panel's API, see the [Auth Server API documentation](http://docs.pdkauthapi.apiary.io/). There are quite many libaries that support OpenID Connect protocol which is used for authentication. Please check [this link](https://openid.net/developers/libraries/) to see the list with some of them.

Because the API is stateless, this Bearer token must be included in every request to the API.
The Authorization header MUST be of the following format:

`Authorization: Bearer {token-value}`


# Resource Operations

Standard CRUD operations on resources are performed using HTTP verbs.

* GET - Retrieve a resource, never modifies data.
* POST - Create a resource. All required fields must be specified. In case when one of optional parameters is not specified, it's default value will be used.
* PUT - Update a resource. Requires whole resource body to be specified.
* DELETE - Delete a resource.


# Cache Headers

The current state of a resource is identified by standard HTTP caching mechanisms in the response to a requested resource (e.g. ETag, Last-Modified, cache-control).
These headers can be used for change detection and intermediate caching.

Most HTTP stacks (including your browser address bar) automatically deal with caching headers in a bandwidth, proxy, and user-friendly way.


# URI Format

Resource URIs will generally follow a format similar to those shown below.

* Resource Collection - `https://panel-id.pdk.io/api/{resource-name}`
Example - `https://panel-id.pdk.io/api/persons`
* Specific Resource - `https://panel-id.pdk.io/api/{resource-name}/{id}`
Example - `https://panel-id.pdk.io/api/persons/1`
* Related Resource Collection - `https://panel-id.pdk.io/api/{resource-name}/{id}/{related-resource}`
Example - `https://panel-id.pdk.io/api/persons/1/groups`
* Specific Related Resource - `https://panel-id.pdk.io/api/{resource-name}/{id}/{related-resource}/{id}`
Example - `https://panel-id.pdk.io/api/persons/1/groups/2`


# Pagination

Most of calls that return collections return paginated results in order to decrease panel server load 
(see `page` and `per_page` url query parameters).
Response contains link headers with links to first, last, next and prevous pages of results, 
which are specified in `first`, `last`, `next` and `prev` links accordingly.

For example, calling `GET https://panel-id.pdk.io/api/persons?page=1&per_page=5` will lead for the following headers:

```
Link: <https://panel-id.pdk.io/api/persons?per_page=5>; rel="first",
    <https://panel-id.pdk.io/api/persons?page=3?per_page=5>; rel="prev",
    <https://panel-id.pdk.io/api/persons?page=3&per_page=5>; rel="next",
    <https://panel-id.pdk.io/api/persons?page=2&per_page=5>; rel="last"
X-Total-Count: 11
```

# Content type

Content type is set to `application/json` for all API calls.


# Response Codes

## HTTP Codes
* `200` - OK status with JSON body
* `204` - OK status without body
* `400` - Bad Request
* `401` - Unauthorized
* `403` - Forbidden
* `404` - Not Found
* `422` - Unprocessable Entity
* `500` - Internal Server Error

## Error message format

Error messages provide human-readable description. For now only English language is supported, localization support will come in next releases.

    {
        "message" : "Human-friendly error message",
        "errors": {
            "field": "Human-friendly error message related to certain field (optional)"
        }
    }

# Metadata

*Introduced in API v1.6.3*

Certain updatable entities ([Person](#reference/persons), [Group](#reference/groups), [Devices](#reference/devices)) have a `metadata` property.
This property is opaque storage that can be leveraged by API consumers to store application-specific information.

A common use case is to store a correlation key that associates a pdk entity to an entity in the application database.

This property can be set to any valid JSON value, can not be null, defaults to an empty object `{}`, and there is a limit of 10KB on the size of the data stored here.

Once data is stored here, it will be provided with the entity any time it is retrieved via the REST API or sent in a message via the Stream Oriented API.

# Roles
Roles permissions have hierarchical structure. List of possible roles given below:
* `Reporter` has read only access for Persons, Groups entities.
* `Manager` in addition to `Reporter` permissions has write access for Persons and Groups entities.
* `Admin` in addition to `Manager` permissions has write access for Persons, Groups, System Events, Auto Open Rules, Floor Groups entities.
* `Integrator` in addition to `Admin` permissions can change hardware configuration (Devices, Connections, Config and Websocket API commands).
* `Sysop` in addition to `Admin` permissions can change hardware configuration (Devices, Connections, Config and Websocket API commands).


# Group Search

The functionality is available for all roles. For [Reporter, Manager] roles search results will be filtered by user's partition.

### Global Search [GET /search?page={page}&per_page={per_page}&sort={sort}&q={q}]
+ Parameters

    + q (optional, string) ... Url-encoded query string. Search will be done in the following entities: Person (`firstName`, `lastName` and `cardNumber`), Group (`name`), Floor Group (`name`). Minimum length is `1` character, maximum length is `70` characters.
    + page (optional, number) 
        Number of page to return, started from `0`.
        + Default: `0`
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: `10`
    + sort (optional, enum[string])
        Sorting order. Entities are sorted by `name` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
    
+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of entity.
    + `type` (required, enum[string]) ... Type of entity.
        + Members
            + `person`
            + `group`
            + `floorGroup`
    + `name` (required, string) ... Entity name.
    + `description` (required, string) ... Entity description (will be equal to person's card number in case of search by card number).
    + `image` (required, string) ... Person photo URL. `null` will be returned if Person has no photo or entity is not a Person.
    
    + Headers
    
            Link: <https://panel-id.pdk.io/api/search?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/search?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
    
    + Body
    
            [
                {
                    "id": 10,
                    "type": "person",
                    "name": "Ted Froëdington",
                    "description": "654321123456",
                    "image": "http://url"
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)

# Group Persons
A person entity represents attributes of a person that will be interacting with the access control system.
These attributes include the person's first and last names, a list of their credentials, rules that apply to them, and a list of group memberships, among others.
The functionality is available for [Sysop, Integrator, Admin, Manager] roles. Rerieving operations are also available for [Reporter] role.
All operations consider user's partition. Created Persons will be bound to user's partition by default.
For [Reporter, Manager] roles Persons will be filtered by their partition.
[Admin, Integrator, Sysop] users can change Person's partition.

## Persons Collection [/persons?page={page}&per_page={per_page}&sort={sort_order}]
        
### Retrieve all Persons [GET /persons?page={page}&per_page={per_page}&sort={sort}&include={include}]
+ Parameters

    + page (optional, number) 
        Number of page to return, started from `0`.
        + Default: `0`
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: `10`
    + sort (optional, enum[string])
        Sorting order. Persons are sorted by `lastName`, `firstName` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
            + `ascByFirstName`
            + `descByFirstName`
    + include (optional, enum[string])
        The parameter allows to  get related entity for the person.
        + Members
            + `groups`
            + `credentials`
            + `partition`
            + `rules`

+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id` (required, number) ... Person's id.
    + `firstName` (required, string) ...  Person's first name.
    + `lastName` (required, string) ...  Person's last name.
    + `photoUrl` (optional, string) ... Person's account photo URL. `null` will be returned if Person has no photo.
    + `partition` (required, number or object) ... Partition that the Person is bound to.
    + `activeDate` (optional, string) ... The date since Person's data should be processed by server in format `YYYY-MM-DD`.
    + `expireDate` (optional, string) ... The date till Person's data should be processed by server in format `YYYY-MM-DD`.
    + `pin` (optional, string) ... The PIN that is bound to specific Person.
    + `duressPin` (optional, string) ... The duress PIN that is bound to specific Person. Defaults to '9' + PIN value.
    + `enabled` (required, boolean) ... Flag indicating whether should or should not the Person's data be processed by server.
    + `groups` (optional, array) ... List of person groups.
    + `credentials` (optional, array) ... List of person credentials.
    + `metadata` (optional, object) ... An optional peice of opaque metadata stored with the entity
    
    + Headers
    
            Link: <https://panel-id.pdk.io/api/persons?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/persons?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
    
    + Body
    
            [
                {
                    "id": 10,
                    "firstName": "Ted",
                    "lastName": "Froëdington",
                    "partition": 0,
                    "photoUrl": "http://example.com/usersImages/32224.jpg",
                    "metadata": {}
                }
            ]
+ Response 401 (application/json)

### Delete multiple Persons [POST /persons/bulk-delete]

+ Request (application/json)

    + persons (required, array) ... Array consisting of Ids of the persons to be deleted.

    + Headers
    
            Authorization: Bearer {token}
    
    + Body
        
            {
                "persons": [1, 2, 3]
            }
            
+ Response 200 (application/json)

    + `deleted` (required, array) ... Persons that were deleted.
    
    + Body
    
            {
                "deleted": [1, 3]
            }
            
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)

## Person [/persons/{person_id}]

+ Model

    + `firstName` (required, string) ...  Person's first name. Minimum length is `1` character, maximum length is `35` characters.
    + `lastName` (required, string) ...  Person's last name. Minimum length is `1` character, maximum length is `35` characters.  `firstName` + `lastName` combination should be unique.
    + `partition` (optional, number) ... Partition that the Person is bound to. Could be set only by Admin and higher.
    + `activeDate` (optional, string) ... The date since Person's data should be processed by server in format `YYYY-MM-DD`.
    + `expireDate` (optional, string) ... The date till Person's data should be processed by server in format `YYYY-MM-DD`.
    + `pin` (optional, string) ... The PIN that is bound to specific Person.
    + `duressPin` (optional, string) ... The duress PIN that is bound to specific Person. Defaults to '9' + PIN value.
    + `enabled` (optional, boolean) ... Flag indicating whether should or should not the Person's data be processed by server.
    + `metadata` (optional, object) ... An optional peice of opaque metadata stored with the entity
    + `email` (optional, string) ... The email that is bound to specific Person.

    + Headers
    
            Authorization: Bearer {token}

    + Body
    
            {
                "firstName": "Ted",
                "lastName": "Froëdington",
                "partition": 0,
                "metadata": {}
            }

### Retrieve a Person [GET]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + `firstName` (required, string) ...  Person's first name.
    + `lastName` (required, string) ...  Person's last name.
    + `partition` (required, number) ... Partition that the Person is bound to.
    + `photoUrl` (optional, string) ... Person's account photo URL. `null` will be returned if Person has no photo.
    + `activeDate` (optional, string) ... The date since Person's data should be processed by server in format `YYYY-MM-DD`.
    + `expireDate` (optional, string) ... The date till Person's data should be processed by server in format `YYYY-MM-DD`.
    + `enabled` (required, boolean) ... Flag indicating whether should or should not the Person's data be processed by server.
    + `pin` (optional, string) ... The PIN that is bound to specific Person.
    + `duressPin` (optional, string) ... The duress PIN that is bound to specific Person. Defaults to '9' + PIN value.
    + `email` (optional, string) ... The email that is bound to specific Person.
    + `cards` (required, array) ... Cards that belongs to the Person. Empty array will be returned if Person has no cards.
    + `groups` (required, array) ... Groups that the Person belongs to. Empty array will be returned if Person does not belong to any Group.
    + `credentials` (required, array) ... Credentials that belong to the Person. Empty array will be returned if Person has no credentials.
    + `metadata` (optional, object) ... An optional peice of opaque metadata stored with the entity
    
    + Body
    
            {
                "id": 1,
                "firstName": "Ted",
                "lastName": "Froëdington",
                "partition": 0,
                "photoUrl": "http://example.com/images/32224.jpg",
                "metadata": {},
                "cards": [
                    {
                        "id": 1,
                        "cardNumber": 12345,
                        "description": "some text"
                    }
                ],
                "groups": [
                    {
                        "id": 1,
                        "name": "groupName"
                    }
                ],
                "mobileCredentials": [
                    {
                        "id": 1,
                        "email": "mobile.credentials@email.com"
                    }
                ]
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Create a Person [POST /persons]

+ Request (application/json)

    [Person][]
            
+ Response 200 (application/json)

    + `id` (required, number) ... Id of created entity.
    
    + Body
    
            {
                "id": 1
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)
+ Response 422 (application/json)

### Update a Person [PUT]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    
+ Request (application/json)

    + `firstName` (required, string) ...  Person's first name. Minimum length is `1` character, maximum length is `35` characters.
    + `lastName` (required, string) ...  Person's last name. Minimum length is `1` character, maximum length is `35` characters. `firstName` + `lastName` combination should be unique.
    + `partition` (optional, number) ... Partition that the Person is bound to. Could be set only by Admin and higher.
    + `activeDate` (required, string) ... The date since Person's data should be processed by server in format `YYYY-MM-DD`. `null` should be passed if date is not set.
    + `expireDate` (required, string) ... The date till Person's data should be processed by server in format `YYYY-MM-DD`. `null` should be passed if date is not set.
    + `pin` (required, string) ... The PIN that is bound to specific Person.
    + `duressPin` (required, string) ... The duress PIN that is bound to specific Person. Defaults to '9' + PIN value.
    + `enabled` (required, boolean) ... Flag indicating whether should or should not the Person's data be processed by server.
    + `email` (optional, string) ... The email that is bound to specific Person.
    + `metadata` (optional, object) ... An optional peice of opaque metadata stored with the entity
    
    + Headers
    
            Authorization: Bearer {token}

    + Body
    
            {
                "firstName": "Ted",
                "lastName": "Froëdington",
                "partition": 0,
                "activeDate": "2016-05-05",
                "expireDate": "2017-05-05",
                "pin": null,
                "duressPin": null,
                "enabled": true,
                "metadata" { "dbId": "ed1479c1-262f-4523-8726-24a858b1b77f" }
            }
            
+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)
+ Response 422 (application/json)

### Delete a Person [DELETE]
Person removal leads to all Person's Rules removal.

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

## Person Photo [/persons/{person_id}/photo]

### Update person photo [PUT]

+ Request (application/json)

    + `base64` (required, string) ... Value in base64 format. To remove Person's photo null should be pased.
    
    + Headers
    
            Authorization: Bearer {token}
            
    + Body
    
            {
                "base64": "TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IGJ5IGhpcyByZWFzb24="
            }

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)

## Person Cards [/persons/{person_id}/cards]

The functionality is available for [Sysop, Integrator, Admin, Manager] roles.  Retrieving Cards is also available for the [Reporter] role.
[Manager, Reporter] have an access to Cards that bound to Persons from their own partition only.

+ Model

    + `cardNumber` (required, number) ... Card number. Must be unique among all persons. Maximum value is 99999999999.
    + `description` (optional, string) ... Card description. Minimum length is `1` character, maximum length is `255` characters.
    
    + Headers
    
            Authorization: Bearer {token}
    
    + Body
    
            {
                "cardNumber": 123,
                "description": "Card description"
            }


### Retrieve all Cards [GET /persons/{person_id}/cards?page={page}&per_page={per_page}&sort={sort}]

+ Parameters

    + person_id (required, number) 
        Numeric `id` of the Person to perform the action on.
    + page (optional, number)
        Number of page to return, started from `0`.
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
    + sort (optional, enum[string])
        Sorting order. Cards are sorted by `cardNumber` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`

+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of the Card.
    + `cardNumber` (required, number) ... Card number.
    + `description` (optional, string) ... Card description.  Maximum length is `255` characters.

    + Headers
    
            Link: <https://panel-id.pdk.io/api/cards?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/cards?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
    
    + Body
    
            [
                {
                    "id": 1,
                    "cardNumber": 12321,
                    "description": "myCard"
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Retrieve a Card [GET /persons/{person_id}/cards/{card_id}]

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.

+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of the Card.
    + `cardNumber` (required, number) ... Card number.
    + `description` (optional, string) ... Card description. Maximum length is `255` characters.
    
    + Body
    
            {
                "id": 1,
                "cardNumber": 123,
                "description": "Card description"
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Create a Card [POST]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    
+ Request (application/json)

    [Person Cards][]

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Delete a Card [DELETE /persons/{person_id}/cards/{card_id}]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.

+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

## Person Credentials [/persons/{person_id}/credentials]

The functionality is available for [Sysop, Integrator, Admin, Manager] roles.  Retrieving Credentials is also available for the [Reporter] role.
[Manager, Reporter] have an access to Credentials that bound to Persons from their own partition only.

### Retrieve all Credentials [GET /persons/{person_id}/credentials?page={page}&per_page={per_page}&sort={sort}]

+ Parameters

    + person_id (required, number) 
        Numeric `id` of the Person to perform the action on.
    + page (optional, number)
        Number of page to return, started from `0`.
        + Default: 0
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: 100
    + sort (optional, enum[string])
        Sorting order. Mobile Сredentials are sorted by the `email` value.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`

+ Request (application/json)

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of the Card.
    + `personId` (required, number) ... Id of person,
    + `credentialNumber` (required, number) ... Credential number.
    + `types` (required, array of string) ... Types of credential [`token`, `touch`, `card`].
    + `description` (optional, string) ... Card description. Maximum length is `255` characters.

    + Headers
    
            Link: <https://panel-id.pdk.io/api/mobile_credentials?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/mobile_credentials?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
    
    + Body
    
            [
                {
                    "id": 1,
                    "personId": 12,
                    "credentialNumber": 722,
                    "description": "myCard"
                    "types": [
                        "token"
                    ]
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)


### Create Credentials [POST]

+ Parameters
    + person_id (required, number) - Numeric `id` of the Person to perform the action on.
    
+ Request (application/json)

+ Response 200 (application/json)

    + Attributes
        + id (required, number) - Numeric `id` of the created Credentials entry.
    
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Update Credentials [PUT /persons/{person_id}/credentials/{credential_id}]

+ Parameters

    + person_id (required, number) - Numeric `id` of the Person to perform the action on.
    + credential_id (required, number) ... Numeric `id` of the Credentials entity.
    
+ Request (application/json)
    
    + Headers
    
            Authorization: Bearer {token}

    + Body

            {
                "types": "token"
            }

+ Response 204 (application/json)
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Accept Credentials [POST /persons/{person_id}/credentials/{credential_id}/accept]

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    + credential_id (required, number) ... Numeric `id` of the Credentials entity that should be accepted.
    
+ Request (application/json)

        + `inviteToken` (required, string) ... Invite token.
        
   + Headers
    
            Authorization: Bearer {token}
            
    + Body
    
            {
                "inviteToken": "TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IGJ5IGhpcyByZWFzb24="
            }

+ Response 200 (application/json)
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Delete Credentials [DELETE /persons/{person_id}/credentials/{credential_id}]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    + credential_id (required, number) ... Numeric `id` of the Mobile Credentials entity that should be deleted.

+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

## Person Rules Collection [/persons/{person_id}/rules]

#### List of access rules, event rules and elevator rules that apply to this Person.

The functionality is available for [Sysop, Integrator, Admin, Manager, Reporter] roles.
[Manager, Reporter] have an access to Rules that bound to Persons from their own partition.
[Manager] can change Rule's Doors list. Only Doors from [Manager]'s partition could be added. Any Door present in the Rule could be removed.

### Retrieve Rules Collection for a Person [GET /persons/{person_id}/rules?page={page}&per_page={per_page}&sort={sort}]

+ Parameters

    + person_id (required, number)
        Numeric `id` of the Person to perform the action on.
    + page (optional, number)
        Number of page to return, started from `0`.
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
    + sort (optional, enum[string])
        Sorting order. Rules are sorted by `id` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`

+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Common parameters for all rule types
        + `id` (required, number) ... Numeric rule `id`.
        + `type` (required, enum[string])
            Type of a given rule.
            + Members
                + `door`
                + `elevator`
                + `event`
        + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
        + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
        + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
        + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + Specific `door` rule type fields
        + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
        + `doors` (required, array) ... Doors on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `elevator` rule type fields
        + `floorGroups` (required, array) ... Floor Groups on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `event` rule type fields
        + `name` (required, string) ... Rule name.
        + `triggerType` (required, enum[string])
            Type of event on which action should be performed.
            + Members
                + `whenAllowed`
                + `whenDeniedExplicit`
                + `whenDeniedNoRules`
                + `alwaysOnValidCard`
                + `onDuress`
                + `onDoubleSwipeAllow`
                + `onTripleSwipeAllow`
                + `onQuadrupleSwipeAllow`
        + `action` (required, enum[string])
            Operation that should be performed.
            + Members
                + `sendEmail`
                    Does need an `emailTemplate` to be specified.
                + `doNotDisturb`
                    Does need a `target` to be specified.
                + `forceToggle`
                    Does need a `target` to be specified.
                + `forceOpen`
                    Does need a `target` to be specified.
                + `forceClose`
                    Does need a `target` to be specified.
                + `open`
                    Does need a `target` to be specified.
                + `close`
                    Does need a `target` to be specified.
                + `lockdownOn`
                    Does need a `target` to be specified.
                + `lockdownOff`
                    Does need a `target` to be specified.
                + `delayOpen`
                    Does need a `target` and a `delay` to be specified.
                + `delayClose`
                    Does need a `target` and a `delay` to be specified.
                + `openClose`
                    Does need a `target` and a `delay` to be specified.
        + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
        + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types only.
        + `sourceDoors` (required, array) ... List of doors considered as event source.
        + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
            + Members
                + `source`
                + `selected`
        + `targetDoors` (optional, array) ... List of doors which action should be performed on. Must be provided when `target`=`selected`.
        
    + Headers
    
            Link: <https://panel-id.pdk.io/api/persons/231/rules?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/persons/231/rules?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
        
    + Body
    
            [
                {
                    "type": "door",
                    "id": 1,
                    "allow": true,
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "recurring": [
                        "Monday",
                        "Tuesday"
                    ],
                    "doors": [
                        {
                            "id": 1,
                            "name": "Door 1"
                        }
                    ]
                },
                {
                    "type": "elevator",
                    "id": 2,
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "singleDate": "2016-02-23",
                    "floorGroups": [
                        {
                            "id": 1,
                            "name": "Floor Group 1",
                            "floors": [
                                {
                                    "id": 1,
                                    "name": "Door 1"
                                }
                            ]
                        }
                    ]
                },
                {
                    "type": "event",
                    "id": 3,
                    "name": "MyEventRule",
                    "triggerType": "whenAllowed",
                    "action": "delayOpen",
                    "delay": "00:25:43",
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "recurring": [
                        "Mon",
                        "Tue"
                    ],
                    "sourceDoors": [
                        {
                            "id": 1,
                            "name": "Door 1"
                        }
                    ],
                    "target": "selected",
                    "targetDoors": [
                        {
                            "id": 2,
                            "name": "Door 2"
                        }
                    ]
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 404 (application/json)

## Person Rules  [/persons/{person_id}/rules/{rule_id}]

The functionality is available for [Sysop, Integrator, Admin, Manager] roles. Retrieving a Rule is also available for the [Reporter] role.

+ Model

    + Common parameters for all rule types
        + `type` (required, enum[string])
            Type of a given rule.
            + Members
                + `door`
                + `elevator`
                + `event`
        + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
        + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format. Must be greater than `startTime`.
        + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
        + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`. Must be today or later.
    + Specific `door` rule type fields
        + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
        + `doors` (required, array[number]) ... Door `id`s on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `elevator` rule type fields
        + `floorGroups` (required, array[number]) ... Floor Group `id`s on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `event` rule type fields
        + `name` (required, string) ... Rule name. Minimum length is `1` character, maximum length is `70` characters.
        + `triggerType` (required, enum[string])
            Type of event on which action should be performed.
            + Members
                + `whenAllowed`
                + `whenDeniedExplicit`
                + `whenDeniedNoRules`
                + `onDuress`
                + `alwaysOnValidCard`
                + `onDoubleSwipeAllow`
                + `onTripleSwipeAllow`
                + `onQuadrupleSwipeAllow`
        + `action` (required, enum[string])
            Operation that should be performed.
            + Members
                + `sendEmail`
                    Does need an `emailTemplate` to be specified.
                + `doNotDisturb`
                    Does need a `target` to be specified.
                + `forceToggle`
                    Does need a `target` to be specified.
                + `forceOpen`
                    Does need a `target` to be specified.
                + `forceClose`
                    Does need a `target` to be specified.
                + `open`
                    Does need a `target` to be specified.
                + `close`
                    Does need a `target` to be specified.
                + `lockdownOn`
                    Does need a `target` to be specified.
                + `lockdownOff`
                    Does need a `target` to be specified.
                + `delayOpen`
                    Does need a `target` and a `delay` to be specified.
                + `delayClose`
                    Does need a `target` and a `delay` to be specified.
                + `openClose`
                    Does need a `target` and a `delay` to be specified.
        + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
        + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types only. Should be at least 1 second.
        + `sourceDoors` (required, array[number]) ... Door `id`s considered as event source.
        + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
            + Members
                + `source`
                + `selected`
        + `targetDoors` (optional, array[number]) ... Door `id`s on which action should be performed. Must be provided when `target`=`selected`.
        
    + Headers
    
            Authorization: Bearer {token}    
            
    + Body
    
            {
                "type": "elevator",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "floorGroups": [ 1, 3 ]
            }
            
            {
                "type": "door",
                "allow": true,
                "startTime": "12:00",
                "stopTime": "23:00",
                "singleDate": "2016-02-23",
                "doors": [ 132, 133 ]
            }
            
            {
                "type": "event",
                "name": "MyEventRule",
                "triggerType": "whenAllowed",
                "action": "delayOpen",
                "delay": "00:25:43",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "sourceDoors": [ 1, 3 ],
                "target": "source"
            }

### Retrieve a Rule for a Person  [GET /persons/{person_id}/rules/{rule_id}]

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Common parameters for all rule types
        + `id` (required, number) ... Numeric rule `id`.
        + `type` (required, enum[string])
            Type of a given rule.
            + Members
                + `door`
                + `elevator`
                + `event`
        + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
        + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
        + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
        + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + Specific `door` rule type fields
        + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
        + `doors` (required, array) ... Doors on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `elevator` rule type fields
        + `floorGroups` (required, array) ... Floor Groups on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `event` rule type fields
        + `name` (required, string) ... Rule name.
        + `triggerType` (required, enum[string])
            Type of event on which action should be performed.
            + Members
                + `whenAllowed`
                + `whenDeniedExplicit`
                + `whenDeniedNoRules`
                + `onDuress`
                + `alwaysOnValidCard`
                + `onDoubleSwipeAllow`
                + `onTripleSwipeAllow`
                + `onQuadrupleSwipeAllow`
        + `action` (required, enum[string])
            Operation that should be performed.
            + Members
                + `sendEmail`
                    Does need an `emailTemplate` to be specified.
                + `doNotDisturb`
                    Does need a `target` to be specified.
                + `forceToggle`
                    Does need a `target` to be specified.
                + `forceOpen`
                    Does need a `target` to be specified.
                + `forceClose`
                    Does need a `target` to be specified.
                + `open`
                    Does need a `target` to be specified.
                + `close`
                    Does need a `target` to be specified.
                + `lockdownOn`
                    Does need a `target` to be specified.
                + `lockdownOff`
                    Does need a `target` to be specified.
                + `delayOpen`
                    Does need a `target` and a `delay` to be specified.
                + `delayClose`
                    Does need a `target` and a `delay` to be specified.
                + `openClose`
                    Does need a `target` and a `delay` to be specified.
        + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
        + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types only.
        + `sourceDoors` (required, array) ... List of doors considered as event source.
        + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
            + Members
                + `source`
                + `selected`
        + `targetDoors` (optional, array) ... List of doors which action should be performed on. Must be provided when `target`=`selected`.
            
    + Body
    
            {
                "id": 1,
                "type": "elevator",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "floorGroups": [
                    {
                        "id": 1,
                        "name": "Floor Group 1",
                        "floors": [
                            {
                                "id": 1,
                                "name": "Door 1"
                            }
                        ]
                    }
                ]
            }
            
            {
                "type": "door",
                "allow": true,
                "startTime": "12:00",
                "stopTime": "23:00",
                "singleDate": "2016-02-23",
                "doors": [
                    {
                        "id": 132,
                        "name": "Door 1"
                    }
                ]
            }
            
            {
                "type": "event",
                "name": "MyEventRule",
                "triggerType": "whenAllowed",
                "action": "delayOpen",
                "delay": "00:25:43",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "sourceDoors": [
                    {
                        "id": 1,
                        "name": "Door 1"
                    }
                ],
                "target": "selected",
                "targetDoors": [
                    {
                        "id": 2,
                        "name": "Door 2"
                    }
                ]
            }
            
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Create a Rule for a Person  [POST /persons/{person_id}/rules]

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    
+ Request (application/json)

    [Person Rules][]

+ Response 200 (application/json)

    + `id` (required, number) ... Id of created rule.

    + Body
    
            {
                "id": 1
            }
            
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Update a Rule for a Person [PUT /persons/{person_id}/rules/{rule_id}]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.

+ Request (application/json)

    [Person Rules][]

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Delete a Rule for a Person [DELETE /persons/{person_id}/rules/{rule_id}]
+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

## Person Groups [/persons/{person_id}/groups]

The functionality is available for [Sysop, Integrator, Admin, Manager] roles. [Reporter] role has access for retrieving operations only.
[Manager] can remove Person from any Group he is partiticipating but he is able to add the Person to Groups from the partition he is bound to only.

### Retrieve all Groups for a Person [GET /persons/{person_id}/groups?page={page}&per_page={per_page}&sort={sort}]

+ Parameters

    + person_id (required, number)
        Numeric `id` of the Person to perform the action on.
    + page (optional, number)
        Number of page to return, started from `0`.
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
    + sort (optional, enum[string])
        Sorting order. Groups are sorted by `name` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`

+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Headers
    
            Link: <https://panel-id.pdk.io/api/persons/32/groups?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/persons/32/groups?page=2&per_page=10>; rel="last"
            X-Total-Count: 11

    + Body
    
            [
                {
                    "id": 1,
                    "name": "group1",
                    "metadata": {}
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)

### Retrieve a Group for a Person  [GET /persons/{person_id}/groups/{group_id}]

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.
    + group_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}
            
+ Response 200 (application/json)

    + Body
    
            {
                "id": 1,
                "name": "group1",
                "metadata": {}
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 404 (application/json)

### Assign several Groups for a Person [PUT /persons/{person_id}/groups]

+ Parameters

    + person_id (required, number) ... Numeric `id` of the Person to perform the action on.

+ Request (application/json)

    + groups (required, array) ... Array consisting of Ids of the groups to be assigned to a Person.

    + Headers
    
            Authorization: Bearer {token}
    
    + Body
        
            {
                "groups": [1, 2]
            }
            
+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)

### Remove a Person from a Group [DELETE /persons/{person_id}/groups/{group_id}]

+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)   

# Group Groups

A group entity represents a set of shared rules that apply to people that are members of the group.
The functionality is available for [Sysop, Integrator, Admin, Manager] roles. Retrieving operations are also available for [Reporter] role.
All operations consider user's partition. Created Group will be bound to user's partition by default.
For [Reporter, Manager] roles Groups will be filtered by their partition.
[Admin, Integrator, Sysop] users can change Group's partition.

## Groups Collection [/groups]

### Retrieve All Groups [GET /groups?page={page}&per_page={per_page}&sort={sort}]

+ Parameters

    + page (optional, number)
        Number of page to return, started from `0`.
        + Default: `0`
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: `10`
    + sort (optional, enum[string])
        Sorting order. Groups are sorted by `name` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
    
+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + Headers
    
            Link: <https://panel-id.pdk.io/api/groups?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/groups?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
            
    + Body
    
            [
                {
                    "id": 1,
                    "name": "group1",
                    "metadata": {}
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)

## Group [/groups/{group_id}]

+ Parameters

    + group_id (required, number) ... Numeric `id` of the Group to perform the action on.

+ Model 

    + `name` (required, string) ... Group name. Must be unique. Minimum length is `1` character, maximum length is `70` characters.
    + `partition` (optional, number) ... Group partition. Default partition has `0` value.
    + `metadata` (optional, object) ... An optional peice of opaque metadata stored with the entity
    
    + Headers
    
            Authorization: Bearer {token}
            
    + Body
    
            {
                "name": "group1",
                "metadata": {}
            }

### Retrieve a Group [GET]

+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `name` (required, string) ...  Group name.
    + `metadata` (optional, object) ... An optional peice of opaque metadata stored with the entity

    + Body
    
            {
                "id": 1,
                "name": "group1",
                "metadata": {}
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Create a Group [POST /groups]

+ Request (application/json)

    [Group][]

+ Response 200 (application/json)

    + `id` (required, number) ... Id of created group.
    
    + Body
    
            {
                "id": 1
            }
            
+ Response 400 (application/json)            
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 422 (application/json)


### Update a Group [PUT]

+ Request (application/json)

    [Group][]

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)
+ Response 422 (application/json)


### Delete a Group [DELETE]

+ Request
Group removal leads to all Group's Rules removal.

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

## Group Rules Collection [/groups/{group_id}/rules]


#### List of access rules, event rules and elevator rules that apply to this Group.

The functionality is available for [Sysop, Integrator, Admin, Manager] roles. Retrieving operation is also available for [Reporter] role.
[Manager, Reporter] have an access to Rules that bound to Persons from the partition they are bound to.
[Manager] can change Rule's Doors list. Only Doors from [Manager]'s partition could be added. Any Door present in the Rule could be removed.

### Retrieve Rules Collection for a Group [GET /groups/{group_id}/rules?page={page}&per_page={per_page}&sort={sort}]
+ Parameters

    + group_id (required, number)
        Numeric `id` of the Group to perform the action on.
    + page (optional, number)
        Number of page to return, started from `0`.
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
    + sort (optional, enum[string])
        Sorting order. Rules are sorted by `id` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Common parameters for all rule types
        + `id` (required, string) ... Numeric rule `id`.
        + `type` (required, enum[string])
            Type of a given rule.
            + Members
                + `door`
                + `elevator`
                + `event`
        + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
        + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
        + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
        + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + Specific `door` rule type fields
        + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
        + `doors` (required, array) ... Doors on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `elevator` rule type fields
        + `floorGroups` (required, array) ... Floor Groups on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `event` rule type fields
        + `name` (required, string) ... Rule name.
        + `triggerType` (required, enum[string])
            Type of event on which action should be performed.
            + Members
                + `whenAllowed`
                + `whenDeniedExplicit`
                + `whenDeniedNoRules`
                + `onDuress`
                + `alwaysOnValidCard`
                + `onDoubleSwipeAllow`
                + `onTripleSwipeAllow`
                + `onQuadrupleSwipeAllow`
        + `action` (required, enum[string])
            Operation that should be performed.
            + Members
                + `sendEmail`
                    Does need an `emailTemplate` to be specified.
                + `doNotDisturb`
                    Does need a `target` to be specified.
                + `forceToggle`
                    Does need a `target` to be specified.
                + `forceOpen`
                    Does need a `target` to be specified.
                + `forceClose`
                    Does need a `target` to be specified.
                + `open`
                    Does need a `target` to be specified.
                + `close`
                    Does need a `target` to be specified.
                + `lockdownOn`
                    Does need a `target` to be specified.
                + `lockdownOff`
                    Does need a `target` to be specified.
                + `delayOpen`
                    Does need a `target` and a `delay` to be specified.
                + `delayClose`
                    Does need a `target` and a `delay` to be specified.
                + `openClose`
                    Does need a `target` and a `delay` to be specified.
        + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
        + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types only.
        + `sourceDoors` (required, array) ... List of doors considered as event source.
        + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
            + Members
                + `source`
                + `selected`
        + `targetDoors` (optional, array) ... List of doors which action should be performed on. Must be provided when `target`=`selected`.

    + Headers
    
            Link: <https://panel-id.pdk.io/api/groups/43/rules?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/groups/43/rules?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
        
    + Body
    
            [
                {
                    "type": "door",
                    "id": 1,
                    "allow": true,
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "recurring": [
                        "Mon",
                        "Tue"
                    ],
                    "doors": [
                        {
                            "id": 1,
                            "name": "Door 1"
                        }
                    ]
                },
                {
                    "type": "elevator",
                    "id": 2,
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "singleDate": "2016-02-23",
                    "floorGroups": [
                        {
                            "id": 1,
                            "name": "Floor Group 1",
                            "floors": [
                                {
                                    "id": 1,
                                    "name": "Door 1"
                                }
                            ]
                        }
                    ]
                },
                {
                    "type": "event",
                    "id": 3,
                    "name": "MyEventRule",
                    "triggerType": "whenAllowed",
                    "action": "delayOpen",
                    "delay": "00:25:43",
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "recurring": [
                        "Mon",
                        "Tue"
                    ],
                    "sourceDoors": [
                        {
                            "id": 1,
                            "name": "Door 1"
                        }
                    ],
                    "target": "source"
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 404 (application/json)

## Group Rules [/groups/{group_id}/rules/{rule_id}]

### Retrieve a Rule for a Group  [GET /groups/{group_id}/rules/{rule_id}]

+ Parameters

    + group_id (required, number) ... Numeric `id` of the Group to perform the action on.
    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)

    + Common parameters for all rule types
        + `id` (required, string) ... Numeric rule `id`.
        + `type` (required, enum[string])
            Type of a given rule.
            + Members
                + `door`
                + `elevator`
                + `event`
        + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
        + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
        + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
        + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + Specific `door` rule type fields
        + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
        + `doors` (required, array) ... Doors on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `elevator` rule type fields
        + `floorGroups` (required, array) ... Floor Groups on which rule should be performed.
        + `authenticationPolicy` (optional, string)
            Authentication policy that should be applied on the certain Device.
            + Default: `cardOnly`
            + Members
                + `cardOnly` - grant access by card only
                + `pinOnly` - grant access by PIN only
                + `cardOrPin` - grant access by either card or PIN
                + `cardAndPin` - grant access by both card and PIN
    + Specific `event` rule type fields
        + `name` (required, string) ... Rule name.
        + `triggerType` (required, enum[string])
            Type of event on which action should be performed.
            + Members
                + `whenAllowed`
                + `whenDeniedExplicit`
                + `whenDeniedNoRules`
                + `onDuress`
                + `alwaysOnValidCard`
                + `onDoubleSwipeAllow`
                + `onTripleSwipeAllow`
                + `onQuadrupleSwipeAllow`
        + `action` (required, enum[string])
            Operation that should be performed.
            + Members
                + `sendEmail`
                    Does need an `emailTemplate` to be specified.
                + `doNotDisturb`
                    Does need a `target` to be specified.
                + `forceToggle`
                    Does need a `target` to be specified.
                + `forceOpen`
                    Does need a `target` to be specified.
                + `forceClose`
                    Does need a `target` to be specified.
                + `open`
                    Does need a `target` to be specified.
                + `close`
                    Does need a `target` to be specified.
                + `lockdownOn`
                    Does need a `target` to be specified.
                + `lockdownOff`
                    Does need a `target` to be specified.
                + `delayOpen`
                    Does need a `target` and a `delay` to be specified.
                + `delayClose`
                    Does need a `target` and a `delay` to be specified.
                + `openClose`
                    Does need a `target` and a `delay` to be specified.
        + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
        + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types only.
        + `sourceDoors` (required, array) ... List of doors considered as event source.
        + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
            + Members
                + `source`
                + `selected`
        + `targetDoors` (optional, array) ... List of doors which action should be performed on. Must be provided when `target`=`selected`.

    + Body
    
            {
                "id": 1,
                "type": "elevator",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "floorGroups": [
                    {
                        "id": 1,
                        "name": "Floor Group 1",
                        "floors": [
                            {
                                "id": 1,
                                "name": "Door 1"
                            }
                        ]
                    }
                ]
            }
            
            {
                "id": 1,
                "type": "door",
                "allow": true,
                "startTime": "12:00",
                "stopTime": "23:00",
                "singleDate": "2016-02-23",
                "doors": [
                    {
                        "id": 132,
                        "name": "Front Door"
                    }
                ]
            }
            
            {
                "id": 1,
                "type": "event",
                "name": "MyEventRule",
                "triggerType": "whenAllowed",
                "action": "delayOpen",
                "delay": "00:25:43",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "sourceDoors": [
                    {
                        "id": 1,
                        "name": "Door 1"
                    }
                ],
                "target": "selected",
                "targetDoors": [
                    {
                        "id": 2,
                        "name": "Door 2"
                    }
                ]
            }
            
+ Response 400 (application/json)            
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Create a Rule for a Group  [POST /groups/{group_id}/rules]

+ Parameters

    + group_id (required, number) ... Numeric `id` of the Group to perform the action on.
    
+ Request (application/json)

    [Person Rules][]

+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of created rule.

    + Body
    
            {
                "id": 1
            }
            
+ Response 400 (application/json)            
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Update a Rule for a Group [PUT /groups/{group_id}/rules/{rule_id}]

+ Parameters

    + group_id (required, number) ... Numeric `id` of the Group to perform the action on.
    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.

+ Request (application/json)

    [Person Rules][]

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Delete a Rule for a Group [DELETE /groups/{group_id}/rules/{rule_id}]
+ Parameters

    + group_id (required, number) ... Numeric `id` of the Group to perform the action on.
    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

## Group Persons [/groups/{group_id}/persons]

The functionality is available for [Sysop, Integrator, Admin, Manager, Reporter] roles.
[Manager] can remove any Person from Group that he has access to but only Person from the partition that user is bound to cound be added.

### Retrieve all Persons [GET /groups/{group_id}/persons?page={page}&per_page={per_page}&sort={sort}]
+ Parameters

    + group_id (required, number) ... Numeric `id` of the Group to perform the action on.
    + page (optional, number) 
        Number of page to return, started from `0`.
        + Default: `0`
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: `10`
    + sort (optional, enum[string])
        Sorting order. Persons are sorted by `lastName`, `firstName` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`

+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id` (required, number) ... Person's id.
    + `firstName` (required, string) ...  Person's first name.
    + `lastName` (required, string) ...  Person's last name.
    + `photoUrl` (optional, string) ... Person's account photo URL.
    
    + Headers
    
            Link: <https://panel-id.pdk.io/api/groups/12/persons?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/groups/12/persons?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
    
    + Body
    
            [
                {
                    "id": 10,
                    "firstName": "Ted",
                    "lastName": "Froëdington",
                    "photoUrl": "http://example.com/usersImages/32224.jpg"
                }
            ]
+ Response 401 (application/json)

### Assign several Persons for a Group [PUT /groups/{group_id}/{persons}]

+ Parameters

    + persons (required, array) ... Array consisting of Ids of the persons to be assigned to a Group.

+ Request (application/json)

    + Headers
    
            Authorization: Bearer {token}
    
    + Body
        
            {
                "persons": [1, 2]
            }
            
+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)

# Group System Events

#### List of event rules that apply to system-wide events, which are events not generated by a single person or group.

## System Events Rules Collection [/system_events]

The functionality is available for [Sysop, Integrator, Admin] roles.

### Retrieve System Events Collection [GET /system_events?page={page}&per_page={per_page}&sort={sort}]
+ Parameters

    + page (optional, number)
        Number of page to return, started from `0`.
        + Default: `0`
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: `10`
    + sort (optional, enum[string])
        Sorting order. Rules are sorted by `id` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
    
+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id`  (required, number) .. Numeric event `id`.
    + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
    + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
    + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
    + `partition` (required, number) ... Partition id that System Event is bound to.
    + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + `name` (required, string) ... Rule name.
    + `triggerType` (required, enum[string])
        Type of event on which action should be performed. 
        + Members
            + `onDoorOpen`
            + `onDoorClose`
            + `onDoorPropped`
            + `onDoorForced`
            + `onPropCleared`
            + `onAnyDuress`
            + `allPropCleared`
            + `onRexOpen`
            + `onRexClose`
            + `onCardSwipe`
            + `onCardNotFound`
            + `onComLoss`
            + `onComLossCleared`
    + `action` (required, enum[string])
        Operation that should be performed.
        + Members
            + `sendEmail`
                Does need an `emailTemplate` to be specified.
            + `doNotDisturb`
                Does need a `target` to be specified.
            + `forceToggle`
                Does need a `target` to be specified.
            + `forceOpen`
                Does need a `target` to be specified.
            + `forceClose`
                Does need a `target` to be specified.
            + `open`
                Does need a `target` to be specified.
            + `close`
                Does need a `target` to be specified.
            + `lockdownOn`
                Does need a `target` to be specified.
            + `lockdownOff`
                Does need a `target` to be specified.
            + `delayOpen`
                Does need a `target` and a `delay` to be specified.
            + `delayClose`
                Does need a `target` and a `delay` to be specified.
            + `openClose`
                Does need a `target` and a `delay` to be specified.
    + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
    + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types.
    + `sourceDoors` (required, array) ... List of doors considered as event source.
    + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
        + Members
            + `source`
            + `selected`
    + `targetDoors` (optional, array) ... List of doors which action should be performed on. Must be provided when `target`=`selected`.

    + Headers
    
            Link: <https://panel-id.pdk.io/api/system_events?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/system_events?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
    
    + Body
    
            [
                {
                    "id": 3,
                    "name": "MyEventRule",
                    "triggerType": "onDoorClose",
                    "action": "delayOpen",
                    "delay": "00:25:43",
                    "partition": 12,
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "singleDate": "2016-02-23",
                    "sourceDoors": [
                        {
                            "id": 1,
                            "name": "Door 1"
                        }
                    ],
                    "target": "selected",
                    "targetDoors": [
                        {
                            "id": 2,
                            "name": "Door 2"
                        }
                    ]
                }
            ]

+ Response 400 (application/json)
+ Response 401 (application/json)

## System Events Rules [/system_events/{rule_id}]

+ Model

    + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
    + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format. Must be greater than `startTime`.
    + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
    + `partition` (optional, number) ... Partition id that System Event is bound to.
    + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`. Must be today or later.
    + `name` (required, string) ... Rule name. Must be unique. Minimum length is `1` character, maximum length is `70` characters.
    + `triggerType` (required, enum[string])
        Type of event on which action should be performed. 
        + Members
            + `onDoorOpen`
            + `onDoorClose`
            + `onDoorPropped`
            + `onDoorForced`
            + `onPropCleared`
            + `onAnyDuress`
            + `allPropCleared`
            + `onRexOpen`
            + `onRexClose`
            + `onCardSwipe`
            + `onCardNotFound`
            + `onComLoss`
            + `onComLossCleared`
    + `action` (required, enum[string])
        Operation that should be performed.
        + Members
            + `sendEmail`
                Does need an `emailTemplate` to be specified.
            + `doNotDisturb`
                Does need a `target` to be specified.
            + `forceToggle`
                Does need a `target` to be specified.
            + `forceOpen`
                Does need a `target` to be specified.
            + `forceClose`
                Does need a `target` to be specified.
            + `open`
                Does need a `target` to be specified.
            + `close`
                Does need a `target` to be specified.
            + `lockdownOn`
                Does need a `target` to be specified.
            + `lockdownOff`
                Does need a `target` to be specified.
            + `delayOpen`
                Does need a `target` and a `delay` to be specified.
            + `delayClose`
                Does need a `target` and a `delay` to be specified.
            + `openClose`
                Does need a `target` and a `delay` to be specified.
    + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
            + Members
                + `to`
                    Array of recipients.
                + `subject`
                    Subject of the email.
                + `body`
                    Email text.
    + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types. Should be at least 1 second.
    + `sourceDoors` (required, array[number]) ... Door `id`s considered as event source.
    + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
        + Members
            + `source`
            + `selected`
    + `targetDoors` (optional, array[number]) ... Door `id`s on which action should be performed. Must be provided when `target`=`selected`.

    + Headers
    
            Authorization: Bearer {token}
    
    + Body
    
            {
                "name": "MyEventRule",
                "triggerType": "onDoorClose",
                "action": "delayOpen",
                "delay": "00:25:43",
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "sourceDoors": [ 1, 3 ],
                "target": "selected",
                "targetDoors": [ 2, 3 ]
            }

### Retrieve a System Event Rule [GET /system_events/{rule_id}]
+ Parameters

    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id`  (required, number) .. Numeric event `id`.
    + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
    + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
    + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
    + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + `partition` (optional, number) ... Partition id that Rule is bound to.
    + `name` (required, string) ... Rule name.
    + `triggerType` (required, enum[string])
        Type of event on which action should be performed. 
        + Members
            + `onDoorOpen`
            + `onDoorClose`
            + `onDoorPropped`
            + `onDoorForced`
            + `onPropCleared`
            + `onAnyDuress`
            + `allPropCleared`
            + `onRexOpen`
            + `onRexClose`
            + `onCardSwipe`
            + `onCardNotFound`
            + `onComLoss`
            + `onComLossCleared`
    + `action` (required, enum[string])
        Operation that should be performed.
        + Members
            + `sendEmail`
                Does need an `emailTemplate` to be specified.
            + `doNotDisturb`
                Does need a `target` to be specified.
            + `forceToggle`
                Does need a `target` to be specified.
            + `forceOpen`
                Does need a `target` to be specified.
            + `forceClose`
                Does need a `target` to be specified.
            + `open`
                Does need a `target` to be specified.
            + `close`
                Does need a `target` to be specified.
            + `lockdownOn`
                Does need a `target` to be specified.
            + `lockdownOff`
                Does need a `target` to be specified.
            + `delayOpen`
                Does need a `target` and a `delay` to be specified.
            + `delayClose`
                Does need a `target` and a `delay` to be specified.
            + `openClose`
                Does need a `target` and a `delay` to be specified.
            + `emailTemplate` (optional, object) ... Template for email. Used with `sendEmail` action type only.
                + Members
                    + `to`
                        Array of recipients.
                    + `subject`
                        Subject of the email.
                    + `body`
                        Email text.
    + `delay` (optional, string) ... Delay for `action` performing in `HH:MM:SS` format. This field used with `delayOpen`, `delayClose`, `openClose` action types.
    + `sourceDoors` (required, array) ... List of doors considered as event source.
    + `target` (optional, enum[string]) ... Target doors type. In case when `source` value provided `targetDoors` parameter is not required.
        + Members
            + `source`
            + `selected`
    + `targetDoors` (optional, array) ... List of doors which action should be performed on. Must be provided when `target`=`selected`.
    
    + Body
    
            {
                "id": 1,
                "name": "MyEventRule",
                "triggerType": "onDoorClose",
                "action": "delayOpen",
                "delay": "00:25:43",
                "startTime": "12:00",
                "stopTime": "23:00",
                "partition": 0,
                "singleDate": "2016-02-23",
                "sourceDoors": [
                    {
                        "id": 1,
                        "name": "Door 1"
                    }
                ],
                "target": "selected",
                "targetDoors": [
                    {
                        "id": 2,
                        "name": "Door 2"
                    }
                ]
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 404 (application/json)

### Create a System Event Rule  [POST /system_events]

+ Request (application/json)

    [System Events Rules][]

+ Response 200 (application/json)

    + `id` (required, number) ... Id of created event rule.
    
    + Body
    
            {
                "id": 1
            }
            
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Update a System Event Rule [PUT /system_events/{rule_id}]

+ Parameters

    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.

+ Request (application/json)

    [System Events Rules][]

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Delete a System Event Rule [DELETE /system_events/{rule_id}]
+ Parameters

    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

# Group Auto Open

#### List of access rules that represent the times that doors should be propped open.

The functionality is available for [Sysop, Integrator, Admin] roles.
## Auto Open Rules Collection [/auto_open]

### Retrieve Auto Open Rules Collection [GET /auto_open?page={page}&per_page={per_page}&sort={sort}]

+ Parameters

    + page (optional, number)
        Number of page to return, started from `0`.
        + Default: `0`
    + per_page (optional, number)
        Count of items per page. An integer from `1` to `100`.
        + Default: `10`
    + sort (optional, enum[string])
        Sorting order. Rules are sorted by `id` values.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
    
+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of a rule.
    + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
    + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
    + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
    + `partition` (optional, number) ... Partition id that Rule is bound to.
    + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
    + `doors` (required, array) ... Doors on which rule should be performed.

    + Headers
    
            Link: <https://panel-id.pdk.io/api/auto_open?page=1&per_page=10>; rel="next", <https://panel-id.pdk.io/api/auto_open?page=2&per_page=10>; rel="last"
            X-Total-Count: 11
            
    + Body
    
            [
                {
                    "id": 1,
                    "allow": true,
                    "startTime": "12:00",
                    "stopTime": "23:00",
                    "partition": 12,
                    "recurring": [
                        "Mon",
                        "Tue"
                    ],
                    "doors": [
                        {
                            "id": 1,
                            "name": "Door 1"
                        }
                    ]
                }
            ]
            
+ Response 400 (application/json)
+ Response 401 (application/json)

## Auto Open Rules [/auto_open/{rule_id}]

+ Model

    + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
    + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format. Must be greater than `startTime`.
    + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
    + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`. Must be today or later.
    + `partition` (optional, number) ... Partition id that Rule is bound to.
    + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
    + `doors` (required, array[number]) ... Door `id`s on which rule should be performed.

    + Headers
    
            Authorization: Bearer {token}
    
    + Body
    
            {
                "allow": true,
                "startTime": "12:00",
                "stopTime": "23:00",
                "recurring": [
                    "Mon",
                    "Tue"
                ],
                "doors": [ 132, 133 ]
            }
            
### Retrieve an Auto Open Rule [GET /auto_open/{rule_id}]

+ Parameters

    + rule_id (required, number) ... Numeric `id` of the Auto Open Rule to perform the action on.

+ Request

    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + `id` (required, number) ... Numeric `id` of a rule.
    + `startTime` (required, string) ... Time when a rule performing should be enabled in `HH:MM` format.
    + `stopTime` (required, string) ... Time when a rule performing should be disabled in `HH:MM` format.
    + `recurring` (optional, array[string]) ... Days of week when a rule should be performed. Possible values: `Mon`, `Tue`, `Wed`, `Thu`, `Fri`, `Sat`, `Sun`.
    + `partition` (optional, number) ... Partition id that Rule is bound to.
    + `singleDate` (optional, string) ... Date when a rule should be performed in `YYYY-MM-DD` format. Only one field can be in the JSON at the same time `recurring` or `singleDate`.
    + `allow` (required, boolean) ... Flag which indicates if access granted or denied.
    + `doors` (required, array) ... Doors on which rule should be performed.
            
    + Body
    
            {
                "id": 1,
                "allow": true,
                "startTime": "12:00",
                "stopTime": "23:00",
                "singleDate": "2016-02-23",
                "partition": 15,
                "doors": [
                    {
                        "id": 1,
                        "name": "Front Door"
                    }
                ]
            }

+ Response 400 (application/json)            
+ Response 401 (application/json)
+ Response 404 (application/json)

### Create an Auto Open Rule  [POST]

+ Request (application/json)

    [Auto Open Rules][]

+ Response 200 (application/json)

    + `id` (required, number) ... Number `id` of created rule.

    + Body
    
            {
                "id": "1"
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Update an Auto Open Rule [PUT /auto_open/{rule_id}]

+ Parameters

    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.

+ Request (application/json)

    [Auto Open Rules][]

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

### Delete an Auto Open Rule [DELETE /auto_open/{rule_id}]

+ Parameters

    + rule_id (required, number) ... Numeric `id` of the Rule to perform the action on.
    
+ Request

    + Headers
    
            Authorization: Bearer {token}

+ Response 204
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)

# Group Floor Groups

#### Associates a reader input and a group of floor outputs. This group is then referenced from an elevator rule on a person or group to activate all the floor buttons in the elevator car where input reader is installed.
The functionality is available for [Sysop, Integrator, Admin] roles. Retrieveing Floor Groups list is also available for [Manager] role.
All operations consider user's partition. Created Floor Group will be bound to user's partition by default.
[Manager] can retrieve only list of Floor Groups that are bound to the partition that he is bound to.
## Floor Groups Collection [/floor_groups?page={page}&per_page={per_page}&sort={sort}]

### Retrieve all Floor Groups [GET]

+ Parameters

    + page (optional, number)
[...]
