FORMAT: 1A
HOST: https://panel-id.pdk.io/api

# PDK Panel API
The PDK Panel API provides for programmatic access to CRUD operations on entities and a realtime event stream from the PDK Access Control system.

The API conforms to many of the tenets of the REST style architecture and fully embraces the HTTP standard to fulfill many of these.

* Stateless
* Cacheable
* A URL identifies a Resource
* Operations conveyed implicitly through HTTP verbs

This drives certain uniform architectural attributes of the API.

# Authentication

Authenticating to this stateless API is handled by including an HTTP Authentication header in each request.
Before making any requests to the panel's API andpoint you will need a Bearer token.
This token represents your application's permission to access the API as delegated by the user.

For instructions on retrieving a token for communicating with a panel's API, see the [Auth Server API documentation](http://docs.pdkauthapi.apiary.io/).

Because the API is stateless, this Bearer token must be included in every request to the API.
The Authorization header MUST be of the following format:

`Authorization: Bearer {token-value}` 


# Resource Operations

Standard CRUD operations on resources are performed using HTTP verbs.

* GET - Retrieve a resource, never modifies data
* POST - Create a resource or perform other non-data operations (e.g. trigger a system event)
* PUT - Update a resource
* DELETE - Delete a resource

# Cache Headers

The current state of a resource is identified by standard HTTP caching mechanisms in the response to a requested resource (e.g. ETag, Last-Modified, cache-control).
These headers can be used for change detection and intermediate caching. Standard HTTP caching rules are adhered to by the API server, for example .

# URI Format

Resource URIs will generally follow a format similar to those shown below.

* Resource Collection - `https://panel-id.pdk.io/api/{resource-name}`
* Specific Resource - `https://panel-id.pdk.io/api/{resource-name}/{id}`
* Related Resource Collection - `https://panel-id.pdk.io/api/{resource-name}/{id}/{related-resource}`
* Specific Related Resource - `https://panel-id.pdk.io/api/{resource-name}/{id}/{related-resource}/{id}`

# Response Codes
##HTTP Codes
* 200 - OK status with json body
* 204 - OK status without body
* 400 - Bad Request
* 401 - Unauthorized
* 403 - Forbidden
* 404 - Not Found
* 422 - Unpossible Entity
* 500 - Internal Server Error

##Error json format
    {
        "code" : "106",
        "message":"Person already exists"    
    }

##API Codes
* 100 - Inconsistent request
* 101 - Unauthorized
* 102 - Access denied
* 103 - Resourse not found
* 104 - Server error
* 105 - Unconsistent door rule
* 106 - Entity already exists

# Collection Fields, Sorting, and Paging
The collection endpoints support a set of uniform query parameters that allow for selecting specific fields, setting the sort order, and paging through the result set.
## Fields

## Sorting

## Paging

# Group People
A person entity represents the attributes of a person that will be interacting with the access control system.
These attributes include the person's name, a list of their credentials, rules that apply to them, and a list of group memberships, among others. 

## Persons Collection [/persons?page={page}&per_page={per_page}]
### List all Persons [GET]
+ Request
    
    + `page` (optional, number, 0) ... Number of page (by default 0).
    + `per_page` (optional, number, 10) ... Count of items per page (by default 10).
    
    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)
    
    + `id` (required, number) ... Person's id.
    + `name` (required, string) ...  Person's name. 
    + `logoUrl` (required, string) ... Person's logo in Base64 format.
    
    + Headers

            Link: <https://panel-id.pdk.io/people?page=2&per_page=10>; rel="next", <https://panel-id.pdk.io/panels?page=3&per_page=10>; rel="last"
            X-Total-Count: 25
    
    + Body
    
            {
                "items":[
                            {
                                "id": "10",
                                "name": "Ted Froëdington"
                                "logoUrl": "http://example.com/img.png"
                            }
                        ]
            }
+ Response 500 (application/json)

## Person [/persons/{id}]
Performes operations with a single person.
    
### Retrieve a Person [GET]
+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Person to perform the action on.
    
+ Response 200 (application/json)
Successfull response.

    + `id` (required, number) ... Person's id.
    + `name` (required, string) ...  Person's name. 
    + `logoUrl` (required, string) ... Person's logo in Base64 format. 

    + Body
    
            {
                "id": "1",
                "name": "Ted Froëdington",
                "logoUrl": "http://example.com/img.png"
            }

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Person [POST /persons]

+ Request

    + `name` (required, string) ...  Person's name. 
    + `logoBase64` (optional, string) ... Person's logo in Base64 format. 
    
    + Body
            
            {
                "name": "Ted Froëdington"
                "logoBase64": "<Person's logo in Base64 format>"
            }
            
+ Response 200 (application/json)
Successfull response.

    + `id` (required, number) ... Id of created entity.

    + Body
    
            {
                "id": "1",
            }

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 422 (application/json)
Person with the same name already exists.
    + Body
    
            {
                "code": 106,
                "message": "Person already exists."
            }  

+ Response 500 (application/json)

### Update a Person [PUT]
+ Request
    
    + name (optional, string) ...  Person's name. 
    + logoBase64 (optional, string) ... Person's logo in Base64 format. 
    
    + Body
    
            {
                "name": "Ted Froëdington"
                "logoBase64": "data:image/gif;base64,R0lGODlhPQBEAPeoAJosM..."
            }
            
+ Response 204

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 422 (application/json)
Person with the same name already exists.
    + Body
    
            {
                "code": 106,
                "message": "Person already exists."
            }  

+ Response 500 (application/json)

### Delete a Person [DELETE]
+ Response 204

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 422 (application/json)
Person with the same name already exists.
    + Body
    
            {
                "code": 106,
                "message": "Person already exists."
            }  

+ Response 500 (application/json)

# Group Photo
A group provides ability to manage Person's photo.

## Photo [/persons/{id}/photo]

### Retrieve a Photo [GET]
+ Request
    + Parameters
        + `id` (required, string, `1`) ... Alphanumeric `id` of the Person to perform the action on.
    
    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)
    + photoURL (required, string) ... URL of Person's photo.

    + Body

            {
                "photoUrl": "www.example.com/photo.png"
            }
            
+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)
    
### Create a Photo [POST]
+ Request
    + Parameters
        + `id` (required, string, `1`) ... Alphanumeric `id` of the Person to perform the action on.
        + `photoBase64` (required, string) ... Person's photo in Base64 format
        
    + Headers
    
            Authorization: Bearer {token}
    
    + Body
    
            {
                "photoBase64": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgA..."
            }

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Delete a Photo [DELETE]
+ Request
    + Parameters
        + `id` (required, string, `1`) ... Alphanumeric `id` of the Person to perform the action on.
        
    + Headers
    
            Authorization: Bearer {token}
    
+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Group Card
A group provides operations with Person's cards.

## Card [/persons/{id}/card]

### Retrieve a Card [GET]
+ Request
    + Parameters
        + `id` (required, string, `1`) ... Alphanumeric `id` of the Person to perform the action on.
    
    + Headers
    
            Authorization: Bearer {token}

+ Response 200 (application/json)
    + `id` (required, number, `1`) ... Alphanumeric `id` of the Card.
    + `description` (optional, string) ... Card description (max length 255).
    + `cardNumber` (required, number) ... Card number. 
    
    + Body
    
            {
                "items": [
                            {
                                "id": "1",
                                "description": "Card description",
                                "cardNumber": "123"
                            }
                        ]
            }

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Card [POST]
+ Request
    + Parameters
        + `id` (required, string, `1`) ... Alphanumeric `id` of the Person to perform the action on.
        + `description` (optional, string) ... Card description (max length 255).
        + `cardNumber` (required, number) ... Card number. 
    
    + Headers
    
            Authorization: Bearer {token}
            
    + Body
        
            {
                "description": "Card description",
                "cardNumber": "123"
            }
        

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Delete a Card [DELETE /persons/{person_id}/card/{card_id}]
+ Request
    + Headers
    
            Authorization: Bearer {token}

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 401 (application/json)

+ Response 403 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Group Groups
A group entity represents a set of shared rules that apply to people that are members of the group.

## Groups Collection [/groups]

### List All Groups [GET]
+ Request

    + `page` (optional, number, 0) ... Number of page (by default 0).
    + `per_page` (optional, number, 10) ... Count of items per page (by default 10).
    
    + Headers
    
            Authorization: Bearer {token}
    
+ Response 200 (application/json)

    + Headers
    
            Link: <https://panel-id.pdk.io/people?page=2&per_page=10>; rel="next", <https://panel-id.pdk.io/panels?page=3&per_page=10>; rel="last"
            X-Total-Count: 25

    + Body

            {
                "items":[
                            {
                                "id": "1",
                                "name": "group1"
                            }
                        ]
            }

+ Response 401 (application/json)
+ Response 500 (application/json)

## Group [/groups/{id}]
A distinct group entity.

+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.

### Retrieve a Group [GET]
    
+ Response 200 (application/json)

    + `id` (required, number) ... Group id.
    + `name` (required, string) ...  Group name.

    + Body
    
            {
                "id": "1",
                "name": "group1"
            }

+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)
+ Response 500 (application/json)
    
### Create a Group [POST /groups]

+ Request
    +`name` (required, string) Group name
    + Headers
    
            Authorization: Bearer {token}
    + Body
    
            {
                "name": "group1"
            }

+ Response 200 (application/json)
    + `id` (required, number) ... Id of created group.
    + Body

            {
                "id": "1"
            }
+ Response 400 (application/json)            
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 422 (application/json)
Group with the same name already exists. API Code 106.
    + Body
    
            {
                "code": 106,
                "message": "Group already exists"
            }
+ Response 500 (application/json)
            
### Update a Group [PUT]

+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.

+ Request
    +`name` (required, string) Group name
    + Headers
    
            Authorization: Bearer {token}
    + Body
    
            {
                "name": "group1"
            }

+ Response 204 (application/json)
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)
+ Response 422 (application/json)
Group with the same name already exists. API Code 106.
    + Body
    
            {
                "code": 106,
                "message": "Group already exists"
            }
+ Response 500 (application/json)


### Delete a Group [DELETE]
+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.
+ Request
    + Headers
    
            Authorization: Bearer {token}

+ Response 204 (application/json)
+ Response 400 (application/json)
+ Response 401 (application/json)
+ Response 403 (application/json)
+ Response 404 (application/json)
+ Response 500 (application/json)

## Group Rules  [/groups/{id}/rules]
Managing rules for a group.
+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.

### Get Rules Collection for a Group [GET]

+ Request (application/json)

+ Response 200 (application/json)
        
        {
            "id":"groupId",
            [
                {
                    "doors":
                        [
                            {
                            }
                        ]
                },
                {   
                    "elevators":
                        [
                            {
                            }
                        ]
                },
                {
                    "events":
                        [
                            {
                            }
                        ]
                }
            ]
        }

### Add Door Rule for a Group  [POST /groups/{id}/rules/door]
+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.
+ Request (application/json)
    +`recurring` (conditional required, string) List of days when rule should be performed
    
    +`singleDate` (conditional required, string) Day when rule should be performed
    
    + Body
    
            {
                "allow":"true",
                "startTime":"12:00AM",
                "stopTime":"2:00PM",
                "recurring":
                    [
                        "Monday", 
                        "Tuesday"
                    ],
                "singleDate":"",
                "doors":
                    [
                        {
                            "id":"1"
                        }
                    ]
            }

+ Response 200 (application/json)
        
### Add Elevator Rule for a Group  [POST /groups/{id}/rules/elevator]
+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.
+ Request (application/json)
    +`recurring` (conditional required, string) List of days when rule should be performed
    
    +`singleDate` (conditional required, string) Day when rule should be performed

    + Body
    
            {
                "startTime":"12:00AM",
                "stopTime":"2:00PM",
                "recurring":"",
                "singleDate":"",
                "floorGroups":
                    [
                        {
                            "id":"1"
                        }
                    ]
            }

+ Response 200 (application/json)

### Add Event Rule for a Group  [POST /groups/{id}/rules/event]
+ Parameters
    + id (required, string, `1`) ... Alphanumeric `id` of the Group to perform the action on.
+ Request (application/json)
    +`recurring` (conditional required, string) List of days when rule should be performed
    
    +`singleDate` (conditional required, string) Day when rule should be performed    

    + Body
    
            {
                "name":"",
                "triggerType":"",
                "action":"",
                "delay":"",
                "allow":"",
                "startTime":"12:00AM",
                "stopTime":"2:00PM",
                "recurring":"",
                "singleDate":"",
                "doors":
                    [
                        {
                        },
                        {
                        }
                    ]
            }

+ Response 200 (application/json)